[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/gltf"]
	path = vendor/gltf
	url = https://github.com/syoyo/tinygltf
[submodule "rapidxml-new"]
	path = vendor/rapidxml
	url = https://github.com/dwd/rapidxml
[submodule "vendor/rttr"]
	path = vendor/rttr
	url = https://github.com/rttrorg/rttr
[submodule "vendor/freetype-2.13.2"]
	path = vendor/freetype-2.13.2
	url = https://github.com/freetype/freetype
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua
